body {
  background: url(./images/stars_bg_full.jpg);
  background-size: cover;
}

@media screen and (max-width: 700px) {
  body {
    background: url(./images/stars_bg_mobile.jpeg);
    background-size: auto;
  }
}
